version: '3'
services:
  web:
    env_file:
      - .env
    container_name: site
    build:
      context: .
      args:
        - NEXT_PUBLIC_API_HOST=${NEXT_PUBLIC_API_HOST}
        - REACT_APP_GOOGLE_CLIENT_ID=${REACT_APP_GOOGLE_CLIENT_ID}
        - REACT_APP_GOOGLE_OAUTH_REDIRECT_URI=${REACT_APP_GOOGLE_OAUTH_REDIRECT_URI}
    ports:
      - 3000:3000
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    environment:
      - NODE_ENV=production # Set your desired environment variables
    networks:
      - default
      - vagasprajr_network

networks:
  vagasprajr_network:
    driver: bridge
    external: true
