.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}



.url-wrapper {
  word-break: break-all; /* Ensures long words break and wrap to the next line */
  white-space: normal; /* Allows text to wrap to the next line */
}