$primary-color: #04051d;
$secondary-color: #ffffff;
$border-color: #dddddd;
$font-size: 18px;
$padding: 5px 0px;
$box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
$row-padding: 10px 15px;
$tr-background-color: #ffffff;
$tr-light-background-color: #f9f9f9;

.th,
.td {
  padding: $padding;
}

.th-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space items horizontally */
  width: 100%; /* Ensure it takes the full width of the th */
}

tbody tr .td {
  padding: $row-padding; // Apply increased padding to body rows
}

.th {
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: bold;
  text-align: left;
  padding: $row-padding; /* Ensure padding matches the table cells */
}

.th span,
.th button {
  display: flex; /* Use flex for inner elements */
  align-items: center; /* Center items vertically */
}

.th-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space items horizontally */
  width: 100%; /* Ensure it takes the full width of the th */
}
.tr {
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid $border-color;
}

.tr:nth-child(odd) {
  background-color: $tr-light-background-color;
}

.tr:nth-child(even) {
  background-color: $tr-background-color;
}

.th-content,
.td-content {
  padding: 8px;
}

@media (prefers-color-scheme: dark) {
  $primary-color: #ffffff;
  $secondary-color: #04051d;
  $border-color: #333333;
  $tr-background-color: #333333;
  $tr-light-background-color: #2b2b2b;

  .tr:nth-child(odd) {
    background-color: $tr-light-background-color;
  }

  .tr:nth-child(even) {
    background-color: $tr-background-color;
  }
}
