.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* wrap text */
  flex-wrap: wrap;
  word-wrap: break-word; /* Ensures long words break and wrap to the next line */
  white-space: normal; /* Allows text to wrap to the next line */
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-cell {
  margin-right: 10px;
  flex-wrap: wrap;
  word-wrap: break-word; /* Ensures long words break and wrap to the next line */
  white-space: normal; /* Allows text to wrap to the next line */
}
