@import "./context-menu-base.scss";

.context-menu {
  width: 250px;
}

.context-menu-item {
  padding: 4px 8px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .context-menu {
    background: var(--context-menu-bg);
  }
}	